{{#each products}}
    <div class="row">
    {{#each this}}
           <div class="col-sm-6 col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{#each this }}{{ this.productImagePath }}{{/each}}" class="card-img-top img-responsive image-dim" alt="Image not available">
                    <div class="card-body">
                        <h5 class="card-title">{{#each this }}{{ this.productName }}{{/each}}</h5>
                        <p class="card-text">{{#each this }}{{ this.productDescription }}{{/each}}</p>
                        <div><div class = "price float-left">$ {{#each this }}{{ this.productPrice }}{{/each}}</div>
                        <a href="/addToCart/{{#each this }}{{ this._id }}{{/each}}" class="btn btn-primary float-right" role="button">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
    {{/each}}
    </div>
{{/each}}